.mt10 {
    margin-top: 10px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.app-header .logo {
    font-size: 20px;
}

.chat-panel .panel-body {
    height: calc(80vh);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-row .user-name {
    font-size: 12px;
    font-weight: 600;
}

.message-row .message-time {
    font-size: 12px;
}
